@using VivesBlog.Models
@model IList<Article>

@{
    ViewData["Title"] = "Home Page";
}

<section>
	<header>
		<h1>Vives Blog</h1>
	</header>
	
	@if (Model != null)
	{
		@foreach (var article in Model)
		{
			<partial name="ArticlePartial" model="article" />
		}
	}
	else
	{
		<p>The model is null.</p>
	}
</section>